#breadcrumb {
    display: block;
    margin: 20px 0;
}

#breadcrumb li {
    display: inline-block;
}

#breadcrumb li::before {
    content: ' < ';
    color: var(--cyan);
}

#breadcrumb li:first-child::before {
    content: '';
}

#breadcrumb li a {
    padding: 5px 0;
    text-decoration: none;
}