/* 1 смуга */

#header {
    background: var(--cyan);
    color: var(--white);
    height: 57px;
}

@media (max-width: 996px) {
    #header {
        height: auto;
    }
}

#header .container {
    font-size: 12px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "header-contacts header-social-icons";
    grid-gap: 5px;
    align-items: center;
}

#header .contacts {
    grid-area: header-contacts;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 996px) {
    #header .contacts {
        margin: 5px 0;
    }
}

.social-icons {
    text-align: right;
}

#header .social-icons {
    grid-area: header-social-icons;
    text-align: center;
}

.social-icons a {
    text-decoration: none;
    margin-left: 10px;
}

.social-icons svg {
    height: 16px;
    fill: var(--cyan-light);
    -webkit-transition: .5s;
    transition: .5s;
}

.social-icons a:hover svg {
    fill: var(--white);
}