/* 2 смуга -- логотип та меню */

#navbar .container {
    min-height: 72px;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 'logo nav phone';
}

@media(max-width: 776px) {
    #navbar .container {
        padding: 10px 0;
        grid-template-columns: 1fr auto;
        grid-template-areas: 'logo phone' 'nav nav';
    }
}

@media(max-width: 500px) {
    #navbar .container {
        grid-template-columns: 1fr;
        grid-template-areas: 'logo' 'phone' 'nav';
    }
}

#logo {
    width: 285px;
    display: block;
    grid-area: logo;
}

@media(max-width: 500px) {
    #logo {
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }
}

#nav {
    grid-area: nav;
}

#nav ul {
    display: flex;
    /* padding: 10px; */
    justify-content: space-around;
    flex-wrap: wrap;
}


/* @media(max-width: 996px) {
    #nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
} */

#nav li {
    padding: 10px;
    display: block;
}

@media(max-width: 776px) {
    #nav li {
        text-align: center;
    }
}

#nav a {
    color: var(--cyan);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

#nav ul ul {
    display: none;
}


/* активний телефон */

#phone {
    color: var(--cyan);
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: .2px;
    text-decoration: none;
    text-align: right;
    -webkit-transition: color .5s;
    transition: color .5s;
    grid-area: phone;
}

@media(max-width: 500px) {
    #phone {
        text-align: center;
    }
}

#phone:hover {
    color: var(--cyan-light);
}

@media(max-width: 996px) {
    #phone span {
        display: none;
    }
    #phone i::before {
        font-size: 32px;
    }
}

@media(max-width: 500px) {
    #phone span {
        display: inline-block;
    }
}

#phone svg {
    width: 18px;
    fill: var(--cyan);
}