/* три елемента в рядок */

.one-one-one .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

@media(max-width: 776px) {
    .one-one-one .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 500px) {
    .one-one-one .container {
        grid-template-columns: 1fr;
    }
}