/* aside + content */

.one-two .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

@media(max-width: 996px) {
    .one-two .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 776px) {
    .one-two .container {
        grid-template-columns: 1fr;
    }
}