#page {
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

#page>header {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

@media(max-width: 500px) {
    #page header {
        display: block;
    }
}

#page header time {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--gray-center);
}

#page header time svg {
    width: 16px;
    margin: 0 5px 0 0;
    fill: var(--gray-center);
}

#page p {
    line-height: 1.8;
    margin: 0 0 20px;
}

#page blockquote {
    margin: 10px 10px 10px 50px;
    padding-left: 20px;
    border-left: 3px solid var(--cyan);
    line-height: 1.7;
    font-style: italic;
    font-family: "Montserrat", Sans-serif;
}

#page ul,
#page ol {
    margin: 10px 0 10px 40px;
}

#page li {
    margin: 10px 0;
    line-height: 1.8;
}

#page em {
    color: var(--red);
}

.autors {
    width: 50%;
    line-height: 1.7;
}

@media(max-width: 500px) {
    .autors {
        width: 100%;
    }
}

.autors span {
    display: block;
}

.rating {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media(max-width: 500px) {
    .rating {
        width: 100%;
        margin: 10px 0 0;
        justify-content: flex-start;
    }
}

.rating span {
    margin: 0 5px 0 0;
}

@media(max-width: 500px) {
    .rating span {
        color: var(--cyan);
    }
}

.rating svg {
    display: inline-block;
    width: 16px;
    fill: var(--yellow);
}

.preview {
    margin: 15px 0;
}