/* назва сторінки + фото справа */

#promo .container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}

@media(max-width: 776px) {
    #promo .container {
        grid-template-columns: 1fr;
    }
}

#promo h1 {
    font-weight: 600;
    font-size: 40px;
    color: var(--cyan);
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

@media(max-width: 776px) {
    #promo h1 {
        font-size: 32px;
        text-align: center;
    }
}

@media(max-width: 500px) {
    #promo h1 {
        font-size: 24px;
    }
}