/* montserrat */

/* @import url("//fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

/* 2 roboto */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --gray: #333;
    --gray-light: #e1e5eb;
    --gray-center: #a1a2a4;
    --cyan: #01487e;
    --cyan-light: #6ec1e4;
    --cyan-dark: #002745;
    --white: #fff;
    --red: #e00000;
    --red-light: #e46e6e;
    --yellow: #e4da6e;
    --green-light: #73e46e;
    --opacity7: rgba(0, 0, 0, .7);
    --radius-15: 15px;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: var(--gray);
    /* font-family: "Montserrat", Sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
}

img {
    max-width: 100%!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0 15px;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: underline;
    color: var(--cyan-dark);
}

a:hover,
a:focus {
    text-decoration: none;
    color: var(--gray);
}

hr {
    margin: 20px 0;
    width: 100%;
    border-top: 1px solid var(--cyan-light);
}

input[type="text"],
input[type="password"],
input[type="search"] {
    font-family: 'Roboto', sans-serif;
    border: 1px solid var(--gray-light);
    -webkit-transition: border-color .5s;
    transition: border-color .5s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus {
    border-color: var(--cyan-light);
}

button {
    color: var(--white);
    background: var(--cyan);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border: none;
    -webkit-transition: background .5s;
    transition: background .5s;
}

button:hover {
    background: var(--cyan-dark);
}


/* лінк, як кнопка */

a.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    line-height: 20px;
    font-weight: 600;
    font-size: 16px;
    color: var(--white)!important;
    background: var(--cyan)!important;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: background .5s;
    transition: background .5s;
}

a.button:hover {
    background: var(--cyan-dark)!important;
}


/* основна обгортка для контенту */

.container {
    width: 1140px;
    margin: auto;
    display: grid;
}

@media(max-width: 1200px) {
    .container {
        width: 95%;
    }
}


/* color text */

.color-red {
    color: var(--red) !important;
}

.color-green-light {
    color: var(--green-light) !important;
}

.color-red-light {
    color: var(--red-light) !important;
}

.color-yellow {
    color: var(--yellow) !important;
}

/* align */
.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

/* тінь та голубий бордер */

.block {
    border: 1px dotted var(--cyan-light);
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.3);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    text-align: center;
    padding: 15px;
    border-radius: var(--radius-15);
    background: var(--white);
}


/* заголовок у центрі */

.center {
    text-align: center;
    margin: 30px auto;
}

.center h2 {
    font-size: 24px;
}

.center h3 {
    font-size: 24px;
}