#search {
    margin: 25px 0;
}

aside #search {
    margin: 0 0 20px;
}

#search .container {
    padding: 25px 50px;
}

@media(max-width: 500px) {
    #search .container {
        padding: 25px 10px;
    }
}

#search form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    width: 100%;
}

#search input[type="search"] {
    padding: 10px;
}

#search button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search svg {
    fill: var(--white);
    width: 14px;
}