#services {
    margin: 25px 0;
}

#services .container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

@media(max-width: 776px) {
    #services .container {
        grid-template-columns: 1fr;
    }
}

#services .service {
    display: grid;
    grid-template-columns: 50px 1fr;
}

@media(max-width: 776px) {
    #services .service {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

#services svg {
    display: block;
    border: 3px solid var(--gray);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    padding: 10px;
    margin: auto;
}


/* кольори бордеру іконок */

#services .color-red-light {
    border-color: var(--red-light);
    fill: var(--red-light);
}

#services .color-green-light {
    border-color: var(--green-light);
    fill: var(--green-light);
}

#services .color-yellow {
    border-color: var(--yellow);
    fill: var(--yellow);
}


/* назви блоків */

#services h3 {
    font-size: 20px;
    color: var(--cyan);
    padding: 0 20px;
    margin: 0;
}