/* відгуки та логотипи партнерів */

#testimonials {
    margin: 25px 0;
}

#testimonials .container {
    grid-template-areas: "description testimonials" "partners partners";
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

@media(max-width: 776px) {
    #testimonials .container {
        grid-template-columns: 1fr;
        grid-template-areas: 'description' 'testimonials' 'partners';
    }
}


/* опис */

#testimonials .description {
    text-align: left;
    grid-area: description;
}

#testimonials .description h3 {
    font-size: 32px;
    color: var(--cyan);
    line-height: 1;
    margin: 0 0 20px;
    position: relative;
}

#testimonials .description h3::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100px;
    height: 2px;
    background: var(--cyan-light);
}

#testimonials .description p {
    font-size: 12px;
    line-height: 2em;
    letter-spacing: 0;
}


/* відгуки */

#testimonials .testimonials {
    grid-area: testimonials;
}


/* окремий відгук */

#testimonials .item {
    display: grid;
    grid-template-areas: 'item-blockquote item-blockquote' 'item-img item-span';
    grid-template-columns: 100px 1fr;
    font-size: 14px;
    font-weight: 300;
}

#testimonials .item blockquote {
    grid-area: item-blockquote;
    /* color: var(--gray); */
    color: var(--cyan);
    margin: 0 0 20px;
    text-align: left;
    letter-spacing: 0;
    font-style: italic;
    line-height: 1.6;
}

#testimonials .item blockquote::after,
#testimonials .item blockquote::before {
    content: '""';
    display: inline-block;
    color: var(--cyan);
}

#testimonials .item img {
    grid-area: item-img;
    border-radius: 100%;
    width: 92px;
}

#testimonials .item span {
    grid-area: item-span;
    color: var(--cyan-light);
    text-align: left;
    font-size: 24px;
}


/* логотипи партнерів*/

#testimonials .partners {
    grid-area: partners;
    margin: 20px 0 0;
    /* tmp */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* tmp */

@media(max-width: 776px) {
    #testimonials .partners figure:nth-child(3),
    #testimonials .partners figure:nth-child(4) {
        display: none;
    }
}

@media(max-width: 500px) {
    #testimonials .partners figure:nth-child(5) {
        display: none;
    }
}