/* відгуки та логотипи партнерів */

#testimonials {
    margin: 25px 0;
}

#testimonials .container {
    grid-template-areas: "description testimonials" "partners partners";
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

@media(max-width: 776px) {
    #testimonials .container {
        grid-template-columns: 1fr;
        grid-template-areas: 'description' 'testimonials' 'partners';
    }
}


/* опис */

#testimonials .description {
    text-align: left;
    grid-area: description;
}

#testimonials .description h3 {
    font-size: 32px;
    color: var(--cyan);
    line-height: 1;
    margin: 0 0 20px;
    position: relative;
}

#testimonials .description h3::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100px;
    height: 2px;
    background: var(--cyan-light);
}

#testimonials .description p {
    line-height: 1.6em;
    letter-spacing: 0;
}

/* відгуки */ 
/* горизонтальний скрол на 1 елемент */
#levus-testimonials{
    grid-area: testimonials;
    overflow: hidden;
}

#levus-testimonials ul{
    white-space: nowrap;
    position: relative;
    left: -100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(20,100%);
}

#levus-testimonials li{
    display: block;
    font-size: 14px;
    font-weight: 300;
    /* vertical-align: top; */
}

#levus-testimonials li blockquote {
    color: var(--cyan);
    margin: 0 0 20px;
    text-align: left;
    letter-spacing: 0;
    font-style: italic;
    line-height: 1.6;
    white-space: normal;
    border-left: none;
    padding-left: 0;
}

#levus-testimonials li blockquote::after,
#levus-testimonials li blockquote::before {
    content: '"';
    display: inline-block;
    color: var(--cyan);
}

#levus-testimonials figure{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#levus-testimonials figure img {
    border-radius: 100%;
    width: 92px;
    height: 92px;
    margin-right: 10px;
}

#levus-testimonials figure figcaption {
    color: var(--cyan-light);
    text-align: left;
    font-size: 24px;
}

.move {
    transform: translateX(-100%);
}

/* логотипи партнерів*/

#testimonials .partners {
    grid-area: partners;
}