.youtube {
    margin: 25px 0;
}

.youtube .container {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-template-areas: 'youtube-h2 youtube-h2 youtube-h2 youtube-h2' 'youtube-1 youtube-2 youtube-3 youtube-4';
}

@media(max-width: 776px) {
    .youtube .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'youtube-h2 youtube-h2' 'youtube-1 youtube-2' 'youtube-3 youtube-4';
    }
}

@media(max-width: 400px) {
    .youtube .container {
        grid-template-columns: 1fr;
        grid-template-areas: 'youtube-h2' 'youtube-1' 'youtube-2' 'youtube-3' 'youtube-4';
    }
}

.youtube h2 {
    grid-area: youtube-h2;
    font-size: 32px;
    color: var(--cyan);
    line-height: 1;
}

.youtube h2 a {
    color: var(--cyan);
    text-decoration: none;
}

.youtube article:nth-child(1) {
    grid-area: youtube-1;
}

.youtube article:nth-child(2) {
    grid-area: youtube-2;
}

.youtube article:nth-child(3) {
    grid-area: youtube-3;
}

.youtube article:nth-child(4) {
    grid-area: youtube-4;
}

.youtube article {
    height: 145px;
    background-size: cover!important;
}

.youtube article a {
    display: block;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.youtube article svg {
    fill: var(--red);
    opacity: 1;
    width: 80px;
    -webkit-transition: .5s;
    transition: .5s;
}

.youtube article a:hover svg {
    fill: var(--white);
    opacity: .75;
}